
#team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: #000000;
    gap: 30px;
}


.contenedorIntegrantes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    height: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.cajaD{
    background-color: powderblue;
    width: 30%;
    margin-left: 20px;
}
.cajaK{
    background-color: rebeccapurple;
    width: 30%;

}
.cajaJ{
    background-color: rgb(102, 102, 96);
    width: 30%;
    margin-right: 20px;
}

.redes{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
}
body{
    background-color: #bbcde0;
}
 