#team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: #ffffff;
    gap: 30px;
}


.contenedorIntegrantes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    height: 100%;
    text-align: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
    padding: 20px;
}

.caja {
    position: relative; /* Necesario para que el pseudo-elemento ::before funcione */
    width: 30%;
    border: 2px solid #ffffff6f;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    flex: 1 1 300px;
    background-color: transparent;
    color: white;
    font-size: 1.3em;
    z-index: 0; /* Asegura que el contenido esté sobre el pseudo-elemento */
    padding-right: 20px ;
}

.caja::before {
    content: '';
    position: absolute;
    border: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px) brightness(0.8); /* Efecto de blur y brillo */
    border-radius: 20px; 
    z-index: -1; /* Envía el pseudo-elemento detrás del contenido */
}


.caja a {
    text-decoration: none;
    color: white;
}
.redes {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
}

body {
    background-image: url('../img/montanas-minimalista-arte-low-poly_3840x2160_xtrafondos.com.jpg'); /* Ajusta la ruta si es necesario */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.cajaD{
    background-color: powderblue;
    width: 30%;
    margin-left: 20px;

}
.cajaK{
    background-color: rebeccapurple;
    width: 30%;


}
.cajaJ{
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 30%;
    margin-right: 20px;
    color: white;
}

.caja {
    position: relative; /* Necesario para que el pseudo-elemento ::before funcione */
    width: 30%;
    border: 2px solid #ffffff6f;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    flex: 1 1 300px;
    background-color: transparent;
    color: white;
    font-size: 1.3em;
    z-index: 0; /* Asegura que el contenido esté sobre el pseudo-elemento */
    padding-right: 20px ;
}

.caja::before {
    content: '';
    position: absolute;
    border: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px) brightness(0.8); /* Efecto de blur y brillo */
    border-radius: 20px; 
    z-index: -1; /* Envía el pseudo-elemento detrás del contenido */
}


.caja a {
    text-decoration: none;
    color: white;
}
.redes {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
}


 