.cartelera_tabla {
    width: 100%;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    border: 2px solid #004080; 
}
.cartelera_tabla thead {
    background-color: #004080; 
    color: white; 
}

.cartelera_tabla th, .cartelera_tabla td {
    padding: 10px;
    border: 1px solid #ddd; 
}

.cartelera_tabla img {
    max-width: 150px;
    border: 2px solid #004080; 
}

.cartelera_tabla img:hover{
    transform: scale(1.2); 
    transition: transform 0.3s ease;

}

body{
    background-color: #004080; ;
    color: white;
}
/*contenedor tabla*/
.contenedorCartelera{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
}

body th{
    background-color: red;
}
td{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid red
}

#poster1:hover{
    transform: scale(1.2);
    transition: transform 0.4s ease-in-out; 
}

table:has(#poster1:hover) .funcion1  .disponible{
    color: red;
}
table:has(#poster1:hover) .funcion1  .NoDisponible{
    color: green;
}

#poster2:hover{
    transform: scale(1.2);
    transition: transform 0.4s ease-in-out; 
}

table:has(#poster2:hover) .funcion2  .disponible{
    color: red;
}
table:has(#poster2:hover) .funcion2  .NoDisponible{
    color: green;
}